.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: $color_1;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: black;
      color:white;
    }
  }
  
  #butInstall {
    display: none;
  }